@using Airline.Model.Models
@model PaginationModel
@{
    int number = 0;
    var flights = Model.FlightList.Data;
    int pagesCount = Model.FlightList.PagesCount;
    int rowsCount = Model.FlightList.RowsCount;
}
@if (pagesCount > 1)
{
    <div id="pugAdminFlightButtons" style="margin: auto; width: max-content;">
        @for (int i = 0; i < Math.Min(11, pagesCount); i++)
        {
            number = i + 1;
            <button value="@i" style="border-radius:20px" name="@pagesCount" onclick="FuncAdminPugFlights(@i, @pagesCount)" id="page_btn" style="margin-left:5px" class="btn btn-def-pag">@number</button>
        }
    </div>
}
@if (rowsCount > 0)
{
    <table class="table table-hover animated animatedFadeInUp fadeInUp" style="margin-top:10px">
        <thead class="thead-light">
            <tr>
                <th scope="col">Flight number</th>
                <th scope="col">Departure datetime</th>
                <th scope="col">Departure airport</th>
                <th scope="col">Aircraft</th>
                <th scope="col">Arrival datetime</th>
                <th scope="col">Arrival airport</th>
                <th scope="col">Action</th>
                <th scope="col">Change status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FlightViewModel f in flights)
            {
                <tr>
                    <td>@f.FlightNumber</td>
                    <td>@f.DepartureDateTime.ToString("g")</td>
                    <td>@f.DepartureAirport</td>
                    <td>@f.Aircraft</td>
                    <td>@f.ArrivalDateTime.ToString("g")</td>
                    <td>@f.ArrivalAirport</td>
                    <td>@Html.ActionLink("Delete", "DeleteFlight", new { flightId = @f.FlightId })</td>
                    <td>@Html.ActionLink("Delay", "ChangeFlightStatus", new { flightId = @f.FlightId })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="margin: auto; width: max-content;">There are no flights</div>
}