@model Airline.Model.Models.RegistrationViewModel

@{
    ViewData["Title"] = "Registration";
}
@using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row2 animated animatedFadeInUp fadeInUp">
        <div class="col-sm-3">
            <section id="loginForm">
                <div class="form-horizontal">
                    @if (Model.Message != null)
                    {
                        <h5 style="text-align:center;">@Model.Message</h5>
                    }
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @style = "text-transform: capitalize", @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @style = "text-transform: capitalize", @class = "form-control", @placeholder = "Surname" } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12" style="padding:5px 20% 0">
                            <input type="submit" value="Register" class="btn btn-success btn-block" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="padding:0 38% 0">
                            @Html.ActionLink("Go to login", "Login")
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
